<div #container *ngIf="apiLoaded | async" class="map-component-container">
  <mat-button-toggle-group #toggle="matButtonToggleGroup">
    <mat-button-toggle checked="true" value="Markers">Маркеры</mat-button-toggle>
    <mat-button-toggle value="Heatmap">Тепловая карта</mat-button-toggle>
  </mat-button-toggle-group>
  <google-map class="map" [center]="moscowCenter" [width]="'100%'" [height]="'100%'" [zoom]="11">
    <ng-container [ngSwitch]="toggle.value">
      <ng-container *ngSwitchCase="'Markers'">
        <map-marker #marker="mapMarker" *ngFor="let point of points | async" (mapClick)="centerOn($event, marker)" [options]="point.options" [position]="point.position"></map-marker>
        <map-info-window style="color: black">{{infoContent}}</map-info-window>
      </ng-container>
      <ng-container *ngSwitchCase="'Heatmap'">
        <map-heatmap-layer *ngIf="(positions | async) as pos" [data]="pos"></map-heatmap-layer>
      </ng-container>
    </ng-container>
  </google-map>
</div>
